In [1]:
import pandas as pd
import numpy as np

In [2]:
Energy = pd.read_excel('/Users/indurangatheshan/Desktop/coursera/Energy Indicators.xls',skiprows=17,skipfooter=38)

In [3]:
Energy = Energy.drop(columns=Energy.columns[:2])
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy['Energy Supply'] = Energy['Energy Supply'] *1000000
Energy.replace('...',np.nan, inplace=True)

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/535971123.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Energy.replace('...',np.nan, inplace=True)

In [4]:
Energy['Country'] = Energy['Country'].str.replace(r' \(.*\)', '', regex=True)  # Remove parentheses
Energy['Country'] = Energy['Country'].str.replace(r'\d+', '', regex=True)  # Remove numeric digits

In [5]:
Energy['Country']  = Energy['Country'].replace({
    "Republic of Korea": "South Korea", "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", 
    "China, Hong Kong Special Administrative Region": "Hong Kong"
})

In [6]:
GDP = pd.read_csv('/Users/indurangatheshan/Desktop/coursera/world_bank.csv',skiprows=4)

In [7]:
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [8]:
GDP['Country Name'] = GDP['Country Name'].replace({
    "Korea, Rep.": "South Korea",  "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"
})

In [9]:
years = [str(year) for year in range(2006,2016)]
GDP = GDP[['Country Name'] + years]

In [10]:
GDP.head()

,Country Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [11]:
ScimEn = pd.read_excel('/Users/indurangatheshan/Desktop/coursera/scimagojr-3.xlsx')

In [12]:
ScimEn = ScimEn[ScimEn['Rank'] <=15 ]

In [13]:
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [14]:
ScimEn['Country'] = ScimEn['Country'].str.strip()
Energy['Country'] = Energy['Country'].str.strip()

In [15]:
rows_before = len(ScimEn) + len(Energy) + len(GDP)

In [16]:
merged = pd.merge(ScimEn,Energy , how='inner',left_on='Country',right_on='Country')
final_df = pd.merge(merged,GDP,how='inner', left_on='Country',right_on='Country Name')

In [17]:
final_df.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.70,138,127191000000,93.0,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,United States,96661,94747,792274,265436,8.20,230,90838000000,286.0,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3,Japan,30504,30287,223024,61554,7.31,134,18984000000,149.0,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7920000000,124.0,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,30709000000,214.0,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

In [18]:
final_df.set_index('Country',inplace=True)

In [19]:
final_df = final_df.sort_values(by='Rank')

In [20]:
columns = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'] + years
final_df = final_df[columns]

In [21]:
final_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [22]:
final_df = final_df.iloc[:15]

In [23]:
final_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [24]:
years = [str(year) for year in range(2006,2016)]
years

['2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015']

In [25]:
final_df['avgGDP']= final_df[years].mean(axis=1)

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/4076086348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['avgGDP']= final_df[years].mean(axis=1)

In [26]:
sorted_df = final_df.sort_values(by='avgGDP' , ascending=False)

In [27]:
sixth_country = sorted_df.iloc[5]

In [28]:
gdp_change = sixth_country['2015']-sixth_country['2006']

In [29]:
print("GDP in 2006:", sixth_country['2006'])
print("GDP in 2015:", sixth_country['2015'])
print("GDP Change:", gdp_change)

print(gdp_change)

GDP in 2006: 2419630700401.73
GDP in 2015: 2666333396477.13
GDP Change: 246702696075.3999
246702696075.3999

In [30]:
max_ren_country = final_df['% Renewable'].idxmax()

In [31]:
max_ren_precentage =final_df.loc[max_ren_country,'% Renewable']

In [32]:
print (max_ren_country ,max_ren_precentage )

Brazil 69.64803

In [33]:
final_df['Self_citations_Ratio'] = final_df['Self-citations']/final_df['Citations']

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/800961946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Self_citations_Ratio'] = final_df['Self-citations']/final_df['Citations']

In [34]:
max_ration_country = final_df['Self_citations_Ratio'].idxmax()

In [35]:
max_ratio = final_df.loc[max_ration_country,'Self_citations_Ratio']

In [36]:
max_ratio

np.float64(0.6893126179389422)

In [37]:
final_df['Population'] = final_df['Energy Supply']/final_df['Energy Supply per Capita']

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/1585953731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Population'] = final_df['Energy Supply']/final_df['Energy Supply per Capita']

In [38]:
final_df['Citable docs per Capita']= final_df['Citable documents']/ final_df['Population']

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/3628426015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Citable docs per Capita']= final_df['Citable documents']/ final_df['Population']

In [39]:
correlation = final_df['Citable docs per Capita'].corr(final_df['Energy Supply per Capita'])

In [40]:
correlation

np.float64(0.7940010435442945)

In [41]:
median_renewable = final_df['% Renewable'].median()

In [42]:
final_df['HighRenew'] = final_df['% Renewable'].apply(lambda x: 1 if x >=median_renewable else 0)

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/3759684444.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['HighRenew'] = final_df['% Renewable'].apply(lambda x: 1 if x >=median_renewable else 0)

In [43]:
df_sorted =final_df.sort_values(by='Rank')

In [44]:
df_sorted['HighRenew']

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

In [45]:
ContinentDict = {
        'China': 'Asia',
        'United States': 'North America',
        'Japan': 'Asia',
        'United Kingdom': 'Europe',
        'Russian Federation': 'Europe',
        'Canada': 'North America',
        'Germany': 'Europe',
        'India': 'Asia',
        'France': 'Europe',
        'South Korea': 'Asia',
        'Italy': 'Europe',
        'Spain': 'Europe',
        'Iran': 'Asia',
        'Australia': 'Australia',
        'Brazil': 'South America'
    }

In [46]:
final_df['Continent'] = final_df.index.map(ContinentDict)

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/3102634378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Continent'] = final_df.index.map(ContinentDict)

In [47]:
final_df['Population'] = final_df['Energy Supply'] / final_df['Energy Supply per Capita']

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/3434883618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Population'] = final_df['Energy Supply'] / final_df['Energy Supply per Capita']

In [48]:
grouped = final_df.groupby('Continent')['Population'].agg(['size', 'sum', 'mean', 'std'])

In [49]:
grouped

               size               sum              mean           std
Continent
Asia              5   2898666386.6106   579733277.32212  6.790979e+08
Australia         1   23316017.316017   23316017.316017           NaN
Europe            6  457929667.216372   76321611.202729  3.464767e+07
North America     2   352855249.48025  176427624.740125  1.996696e+08
South America     1  205915254.237288  205915254.237288           NaN

In [50]:
final_df['Continent'] = final_df.index.map(ContinentDict)

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/3102634378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Continent'] = final_df.index.map(ContinentDict)

In [51]:
final_df['% Renewable bin'] = pd.cut(final_df['% Renewable'],bins=5)

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/1489109362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['% Renewable bin'] = pd.cut(final_df['% Renewable'],bins=5)

In [52]:
grouped = final_df.groupby(['Continent', '% Renewable bin']).size()

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/3350788655.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = final_df.groupby(['Continent', '% Renewable bin']).size()

In [53]:
grouped = grouped[grouped > 0] 
grouped

Continent      % Renewable bin
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
dtype: int64

In [54]:
len(grouped)

9

In [55]:
final_df['PopEst'] = final_df['Energy Supply'] / final_df['Energy Supply per Capita']

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/3019343267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['PopEst'] = final_df['Energy Supply'] / final_df['Energy Supply per Capita']

In [56]:
final_df['PopEst'] = final_df['PopEst'].apply(lambda x: f"{x:,.2f}")

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/623330284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['PopEst'] = final_df['PopEst'].apply(lambda x: f"{x:,.2f}")

In [57]:
print(final_df['PopEst'])

Country
China                 1,367,645,161.29
United States           317,615,384.62
Japan                   127,409,395.97
United Kingdom           63,870,967.74
Russian Federation      143,500,000.00
Canada                   35,239,864.86
Germany                  80,369,696.97
India                 1,276,730,769.23
France                   63,837,349.40
South Korea              49,805,429.86
Italy                    59,908,256.88
Spain                    46,443,396.23
Iran                     77,075,630.25
Australia                23,316,017.32
Brazil                  205,915,254.24
Name: PopEst, dtype: object

In [58]:
len(final_df['PopEst'])

15

In [67]:
def answer_twelve():
    # Reuse the merged DataFrame from answer_one
    # Map countries to continents
    ContinentDict = {
        'China': 'Asia',
        'United States': 'North America',
        'Japan': 'Asia',
        'United Kingdom': 'Europe',
        'Russian Federation': 'Europe',
        'Canada': 'North America',
        'Germany': 'Europe',
        'India': 'Asia',
        'France': 'Europe',
        'South Korea': 'Asia',
        'Italy': 'Europe',
        'Spain': 'Europe',
        'Iran': 'Asia',
        'Australia': 'Australia',
        'Brazil': 'South America'
    }

    # Add a Continent column to the DataFrame
    final_df['Continent'] = final_df.index.map(ContinentDict)

    # Create 5 bins for % Renewable
    final_df['% Renewable bin'] = pd.cut(final_df['% Renewable'], bins=5)

    # Group by Continent and % Renewable bin, and count the number of countries in each group
    grouped = final_df.groupby(['Continent', '% Renewable bin']).size()

    # Create a MultiIndex with all possible combinations of Continent and % Renewable bin
    continents = final_df['Continent'].unique()
    renewable_bins = pd.cut(final_df['% Renewable'], bins=5).unique()
    multi_index = pd.MultiIndex.from_product([continents, renewable_bins], names=['Continent', '% Renewable bin'])

    # Reindex the grouped Series to include all combinations
    grouped = grouped.reindex(multi_index, fill_value=0)

    # Remove groups with no countries
    grouped = grouped[grouped > 0]

    # Return the result as a Series
    return grouped

In [69]:
answer_twelve()

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/2836768551.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Continent'] = final_df.index.map(ContinentDict)
/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/2836768551.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['% Renewable bin'] = pd.cut(final_df['% Renewable'], bins=5)
/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/2836768551.py:29: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = final_df.groupby(['Continent', '% Renewable bin']).size()

Continent      % Renewable bin
Asia           (15.753, 29.227]    1
               (2.212, 15.753]     4
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
Europe         (15.753, 29.227]    3
               (2.212, 15.753]     1
               (29.227, 42.701]    2
Australia      (2.212, 15.753]     1
South America  (56.174, 69.648]    1
dtype: int64

In [70]:
len(answer_twelve())

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/2836768551.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Continent'] = final_df.index.map(ContinentDict)
/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/2836768551.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['% Renewable bin'] = pd.cut(final_df['% Renewable'], bins=5)
/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1477/2836768551.py:29: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = final_df.groupby(['Continent', '% Renewable bin']).size()

9