In [1]:
import pandas as pd
import numpy as np

In [2]:
Energy = pd.read_excel('/Users/indurangatheshan/Desktop/coursera/Energy Indicators.xls',skiprows=17,skipfooter=38)

In [3]:
Energy = Energy.drop(columns=Energy.columns[:2])

In [4]:
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [5]:
Energy['Energy Supply'] = Energy['Energy Supply'] *1000000

In [6]:
Energy.replace('...',np.nan, inplace=True)

/var/folders/qr/sh2mj8fx10x2gvjt8rm16skc0000gn/T/ipykernel_1064/1707905744.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Energy.replace('...',np.nan, inplace=True)

In [7]:
Energy['Country']  = Energy['Country'].replace({
    "Republic of Korea": "South Korea", "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", 
    "China, Hong Kong Special Administrative Region": "Hong Kong"
})

In [8]:
Energy['Country'] = Energy['Country'].str.replace(r' \(.*\)', '', regex=True)  # Remove parentheses
Energy['Country'] = Energy['Country'].str.replace(r'\d+', '', regex=True)  # Remove numeric digits

In [9]:
print(Energy.head())

          Country                                      Energy Supply  \
0     Afghanistan                                          321000000
1         Albania                                          102000000
2         Algeria                                         1959000000
3  American Samoa  .................................................
4         Andorra                                            9000000

   Energy Supply per Capita  % Renewable
0                      10.0    78.669280
1                      35.0   100.000000
2                      51.0     0.551010
3                       NaN     0.641026
4                     121.0    88.695650

In [10]:
GDP = pd.read_csv('/Users/indurangatheshan/Desktop/coursera/world_bank.csv',skiprows=4)

In [11]:
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [12]:
GDP['Country Name'] = GDP['Country Name'].replace({
    "Korea, Rep.": "South Korea",  "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"
})